// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss

$enable-responsive-font-sizes: true;

$body-bg: #ffffff;
$body-color: #063954;

$primary: #3b5998;
$secondary: #3c4a5e;
$success: #2bc550;
$info: #579ade;
$warning: #ff9800;
$danger: #f52881;
$light: #edf4fb;
$dark: #0f1319;
