// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss

$enable-responsive-font-sizes: true;

$body-bg: #ffffff;
$body-color: #212529;

$primary: #579ade;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #edf4fb;
$dark: #343a40;
